.contact-wrapper {
    display: flex;
    flex-direction: row;
   
    img {
        height: 400px;
        width: 670px;
        margin-top: 95px;
        margin-left: 180px;
        border-radius: 5px;
        margin-right: 100px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .contact-color-block {
        position: absolute;
        z-index: -2;
        background-color: rgb(76, 160, 101);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 450px;
        height: 500px;
        margin-top: 50px;
        margin-left: 700px;
        border-radius: 5px;
        color: rgb(255, 255, 255);


        .contact-info {
            margin-top: 5px;
            margin-left: 100px;
            font-size: 22px;
        
            .icon-phone {
                font-size: 30px;
                display: flex;
                padding-left: 58px;
               
            }



            .icon-email {
                font-size: 30px;
                display: flex;
                padding-left: 68px;
               
                
            }

            .icon-address {
                font-size: 30px;
                display: flex;
                padding-left: 65px;
               
            }
        }
    }

 
}

@media (max-width: 600px) {
    .contact-wrapper {

    img {
        height: 165px;
        width: 215px;
        margin-left: 25px;
    }

    .contact-color-block {
        margin-left: 100px;
        height: 300px;
        width: 250px;
        
        .contact-info {
        font-size: 12px;
        margin-top: 0px;
        margin-left: 150px;
        padding-right: 5px;


        .icon-phone {
            font-size: 12px;
            padding-left: 30px;
        }

        .icon-email {
            font-size: 12px;
            padding-left: 35px;
        }

        .icon-address {
            font-size: 12px;
            padding-left: 35px;
        }
    }

    }

    

}

}