.homepage-wrapper {
    display: flex;
    flex-direction: row;

    img {
        margin-top: 120px;
        margin-left: 350px;
        height: 450px;
        width: 680px;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .home-color-block {
        position: absolute;
        background-color: rgb(218, 180, 111);
        z-index: -1;
        height: 550px;
        width: 500px;
        margin-left: 150px;
        margin-top: 60px;
        border-radius: 5px;
        color: transparent;
    }

    .second-home-color-block {
        position: absolute;
        background-color: rgb(76, 160, 101);
        z-index: -2;
        height: 400px;
        width: 600px;
        margin-top: 40px;
        margin-left: 725px;
        border-radius: 5px;
        color: transparent;
    }
}

@media (max-width: 700px) {

    .homepage-wrapper {
        display: flex;
        flex-direction: row;
  
  
        img {
            margin-left: 100px;
            margin-top: 100px;
            max-width: 170px;
            max-height: 112px;
        }
  
        .home-color-block {
            margin-left: 50px;
            margin-top: 80px;
            width: 100px;
            height: 150px;
        }
  
        .second-home-color-block {
            margin-left: 200px;
            margin-top: 75px;
            width: 120px;
            height: 180px;
        }
    }
}