.manage-listing-details {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    margin-top: 50px;

    .listing-detail {
        font-size: 22px;
        color: rgb(76, 160, 101);
        font-weight: lighter;
    }

    .listing-button-delete {
        background-color: rgb(218, 180, 111);
        width: 100px;
        height: 35px;
        color: white;
        border: none; 
        font-family: 'Noto Sans HK', sans-serif;
        font-size: 15px;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
        }

    }

    .listing-button-add {
        background-color: rgb(76, 160, 108);
        width: 100px;
        height: 35px;
        color: white;
        border: none; 
        font-family: 'Noto Sans HK', sans-serif;
        font-size: 15px;
        border-radius: 5px;
        margin-top: 8px;
        margin-bottom: 50px;

        &:hover {
            cursor: pointer;
        }
    }
}



@media (max-width: 700px) {


    .manage-listing-details {

        .listing-detail {
            font-size: 15px;
        }

        .listing-button-delete {
            width: 60px;
            height: 20px;
            font-size: 9px;
        }

        .listing-button-add {
            width: 60px;
            height: 20px;
            font-size: 9px;
            margin-top: 0px;
        }
    }
}