.manage-listing-details {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    margin-top: 80px;

    .listing-detail {
        font-size: 22px;
        color: rgb(76, 160, 101);
        font-weight: lighter;
    }

    .listing-button-delete {
        background-color: rgb(218, 180, 111);
        width: 100px;
        height: 35px;
        color: white;
        border: none; 
        font-family: 'Noto Sans HK', sans-serif;
        font-size: 15px;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
        }

    }

    .listing-button-add {
        background-color: rgb(76, 160, 108);
        width: 100px;
        height: 35px;
        color: white;
        border: none; 
        font-family: 'Noto Sans HK', sans-serif;
        font-size: 15px;
        border-radius: 5px;
        margin-top: 8px;

        &:hover {
            cursor: pointer;
        }
    }
}