.add-listing-modal-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 100%;
    height: 300px;
    max-height: 100%;

    .add-listing-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: space-evenly;
      
    
    .text-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
        color: rgb(76, 160, 108);
        font-family: 'Noto Sans HK', sans-serif;
        font-size: 20px;
        margin-bottom: 5px;
        margin-top: 5px;
}

    .input-box {
        display: flex;
        width: 200px;
        height: 30px;
        justify-content: space-around;
        
    }
    
    .modal-button {
        background-color: rgb(76, 160, 108);
        width: 100px;
        height: 35px;
        color: white;
        border: none; 
        font-family: 'Noto Sans HK', sans-serif;
        font-size: 15px;
        border-radius: 5px;

        &:hover {
           background-color: rgb(216, 184, 114);  
        }
    }

}
}