@import "./navigation.scss";
@import "./home.scss";
@import "./listingDetails.scss";
@import "./about.scss";
@import "./contact.scss";
@import "./loginmodal.scss";

body {
    margin: 0px;
    font-family: 'Tajawal', sans-serif;
    background-color: rgb(255, 255, 255);
}

