.nav-links {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    width: 50%;
    height: 150px;
    background-color: rgb(199, 228, 182);
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
    
   
    
    
    img {
        height: 150px;
        width: 150px;
        border-radius: 5px;
    }


    .left-side-links {
        color: rgb(76, 160, 101);
        text-decoration: none;
        font-size: 22px;


        &:hover {
            color: rgb(218, 180, 111);
            cursor: pointer;
        }
    }
}



